In [1]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))

4.0

In [6]:
#2.Find the error in the following Python code:
def my_function():
    x = 10
    x += 5
    print(x)


my_function()

15

In [9]:
#3.
x = 5
if x ==5:
    print("x is 10")

x is 10

In [11]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())
print(numbers)

None
[2, 3, 5, 8]

In [17]:
#5.
def square(n):
    return n * n

print(square(4))

16

In [22]:
#6.
my_tuple = (1, 2, 3)
#my_tuple[1] = 5
my_newtuple=(1,5,3)

In [27]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [30]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [35]:
#9.
for i in range(5,1,-1):
    print(i)

5
4
3
2

In [37]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])

John